<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div id="menu_panel">
        <script>
            $(function() {
                $("#menu_panel").load("{{ url_for('showCategoriesMenu') }}");
            });
        </script>
    </div>

    <div class='login_pane' id='login_pane'>

        <script>
            $(function() {
                $("#login_pane").load("{{ url_for('showLogin') }}");
            });
        </script>
    </div>
</body>

</html>